* { 
	box-sizing: border-box;
}

body {
	/*background-color: none;*/
	margin: auto;
}

.navbar {
	max-width: 100%;
	text-align: center;
}
.main-nav {
	max-width: 100%;
	list-style-type: none;
	display: none;
	text-align: center;
}

.main-nav li {
	margin: 15px auto;
	font-family: "Lato", sans-serif;
}

.navbar-toggle {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.8);
	font-size: 24px;
}

	.active {
	display: block;
}

/*@media screen and (min-width: 768px) {

.navbar {
	font-size: 18px;
	background-color: rgba(250, 250, 250, 0.8);
	box-shadow: 0px 3px 8px #e6e6e6;
	display: flex;
	justify-content: space-between;
	padding-bottom: 0;
	height: 70px;
	align-items: center;
}*/

.main-nav {
    display: flex;
	margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
}

.main-nav li {
    margin: 0;
}

.nav-links {
	margin-left: 40px;
}

.navbar-toggle {
	display: none;
}

.logo:hover,

.nav-links:hover {
	color: rgba(255, 255, 255, 1);
		}
	}
										/* LOGO, TEL NUM ETC */
.container {
	font-family: 'Arial Black',Gadget,sans-serif;
	max-width: 100%;
	max-height: 145px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	background-color: rgba(255, 0, 0, 0.4);
}

.col-35 {
	flex: 100%;
	max-width: 100%;
	padding-top: 10px;
	padding-right: 30px;
	margin-left: 0;
/*	display: block;*/
	text-align: center;
}

.first-title {
	font-size: 70px;
	font-weight: 900;
	letter-spacing: -1px;
	color: #ff0f0f;
}

.second-title {
	font-size: 50px;
	letter-spacing: 2px;
	color: #1b820f;
	margin-top: -25px;
}

.tel {
	flex: 90%;
	max-width: 90%;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
	display: block;
	padding-bottom: 35PX;

}

#padding {
	display: block;
	padding-left: 200px;
	padding-right: 200px;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 25px;
	line-height: 28px;
}

.position {
	padding-left: 65px;
}

.fa {
	font-size: 65px;
	float: left;
	color: red;
	padding-right: 14px;
}

.material-icons {
	font-size: 65px;
	float: left;
	color: red;
}

										/* DEPOSIT OFFER */

.deposit {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	border: 1px solid #e6e6e6;
	border-radius: 3%;
	max-width: 600px;
	max-height: 600px;
}

.border-top-gold {
	border-top: 4px solid #ffcc00;
	
}

.absolute {
	position: absolute;
	top: 125%;
	left: 35%;
  	color: #ffcc00;
}

										/* SEARCH MENU */
.search-bar {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 25px;
}

#col-left {
	max-width: 50%;
	margin-left: 300px;
	margin-right: auto;
	display: block;
	
}

#col-right {
	max-width: 50%;
	margin-left: auto;
	margin-right: 300px;
	display: block;
}

.btn {
	width: 300px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}


.input-group mb-3 {
	margin-bottom: 0;
}

.dropdown-menu {
	width: 300px;
	text-align: center;
}

								/* MEET THE TEAM */

.positioning {
	margin-left: 50px;
}

.row { 
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.column {
  float: left;
  width: 48%;
  /*padding: 10px;*/
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1200px) {
	.row, .column {
		width: 90%;
	}
}

.image_meet_the_team {
    width: 100%;
    height: 80%;
    background-image: url("../images/meet_the_team.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}​

.column {
	background-color: white;
}

.column:hover {
	background-color: red;
}

footer {
	width: 100%;
	height: 300px;
}